<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Permitir acceso normal a archivos y carpetas reales
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Si no existe, redirigir siempre a index.html
  RewriteRule . /index.html [L]
</IfModule>
