<section id="home" class="home">
    <h1 class="titulo">THE BUNKER FITNESS CENTER</h1>
    <p>Explorá nuestras actividades y transformá tu cuerpo.</p>
    <div class="container servicioInfo">
      <div class="row align-items-center">
        <div class="col">
          <img src="/public/img/entrenaconnosotros.jpg" alt="equipamiento" height="700px" width="440px">
        </div>
      </div>
    </div>
</section>
<section class="background-alter pb-3">
    <div class="container">
        <div class="row align-items-center">
          <div class="col-9 pt-3">
            <img class="fotosServicios" src="/public/img/bicifija1.jpg" alt="Somos una comunidad" height="300px" width="370px">
          </div>
          <div class="col-3">
            <h2 style="color:#69856d;">Entrená con propósito</h2>
            <p style="color:#72ad6f;">Contamos con todo el equipamiento que necesitas</p>
          </div>
        </div>
    </div>
</section>
<section class="bg-black">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-3">
                <h2 style="color:#69856d;">Entrena con Profesionales</h2>
                <p style="color:#72ad6f;">Contamos con un espacio preparado para vos</p>
            </div>
            <div class="col-9 py-3">
                <img class="fotosServicios" style="position: inherit;" src="/public/img/vistaaguila2.jpg" alt="Contamos con espacio" height="300px" width="370px">
            </div>
        </div>
    </div>
</section>