<!--<section class="bg-gris-oscuro pb-3">
    <div class="container">
        <div class="row align-items-center">
          <div class="col-9 pt-3">
            <img id="fotoGrupal" src="/public/img/fotogrupal.jpg" alt="Somos una comunidad" height="450px" width="500px">
          </div>
          <div class="col-2">
            <h2 style="color:#2f522e;"></h2>
            <p style="color:#69856d;"></p>
          </div>
        </div>
    </div>
</section>
<section class="background-alter py-3">
    <div class="container">
        <div class="row">
            <div class="pt-3 horariosMes">
                //imagen insertada mediante css
            </div>
        </div>
    </div>
</section>
<section class="bg-gris-oscuro py-4">
    <div class="container">
        <div class="row">
            <div class="pt-3 oferta">
                //imagen insertada mediante css
            </div>
        </div>
    </div>
</section>
<section class="background-alter py1">
    <div class="container">
        <div class="row">
            <div class="pt-3 horariosCrossfit">
                //imagen insertada mediante css
            </div>
            <button id="botonContactoCrossfit" class="botonContacto my-2" style="background-color:#2f522e; color:white; padding:10px 20px;">Contactar</button>
        </div>
    </div>
</section>
<section class="bg-gris-oscuro">
    <div class="container">
        <div class="row">
            <div class="pt-3 horariosFuncional">
                //imagen insertada mediante css
            </div>
            <button id="botonContactoFuncional" class="botonContacto my-2" style="background-color:#2f522e; color:white; padding:10px 20px;">Contactar</button>
        </div>
    </div>
</section>
<section class="background-alter">
    <div class="container">
        <div class="row">
            <div class="pt-3 horariosCalistenia">
                //imagen insertada mediante css
            </div>
            <button id="botonContactoCalistenia" class="botonContacto my-2" style="background-color:#2f522e; color:white; padding:10px 20px;">Contactar</button>
        </div>
    </div>
</section>-->


<!--<section class="bg-gris-oscuro sitio-construccion">
    <img src="/public/img/logo_bunker.png" alt="Trabajando" class="imagen-construccion">
    <p>Sitio en construccion.</p>
</section>-->

<section class="bg-gris-oscuro horariosContenedor">
    <table id="tabla-horarios">
        <thead></thead>
        <tbody></tbody>
      </table>      
</section>