<section id="home" class="home">
    <h1>Bienvenido a tu sitio Fitness</h1>
    <p>Explorá nuestros servicios y transformá tu cuerpo.</p>
    <img src="assets/gym.jpg" alt="gym">
    <h1 style="color:#69856d;">Entrená con propósito</h1>
    <p style="color:#2f522e;">Somos más que un gimnasio, somos una comunidad</p>
    <button style="background-color:#2f522e; color:white; padding:10px 20px;">Ver horarios</button>
    <button style="background-color:#596972; color:white; padding:10px 20px; margin-left:10px;">Ubicación</button>
  </section>
  
  