<section id="home" class="home">
    <h1 class="titulo">THE BUNKER FITNESS CENTER</h1>
    <p>Explorá nuestros servicios y transformá tu cuerpo.</p>
    <div class="container">
      <div class="row align-items-center">
        <!--<div class="presentacion col-4 te">
          <h1 style="color:#69856d;">Entrená con propósito</h1>
          <p style="color:#2f522e;">Somos más que un gimnasio, somos una comunidad</p>
        </div>-->
        <div class="col" >
          <video id="videoPresentacion" src="/public/videos/GimnasioEntrenamientoAnimado.mov" class="object-fit-scale videoInicio" autoplay></video>
        </div>
      </div>
      <div class="row">
        <div class="col align-self-center pt-3">
          <!--<a href="./contacto" class="button btn-success" style="background-color:#2f522e; color:white; padding:10px 20px;">Ver horarios</a>-->
        </div>
      </div>
    </div>
  </section>